@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}
.showcase {
    position: absolute;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 2;
    transition: 1.2s;
}
.showcase.active{
    right: 300px;
}
.showcase header{
    position: absolute;
    left:0px;
    top: 0px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20000;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url("/menu.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
    }
.toggle.active{
    background: url("/211652_close_icon.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social img{
    width: 30px;
}
.text{
    position: relative;
    z-index: 10;
    /* margin-top: 40px; */
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411);
    mix-blend-mode: overlay;
}
.text h2{
    font-size: 4.5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3{
    font-size: 3.6em;
    font-weight: 500;
    text-transform:uppercase;
    max-width: 700px;
}
.text p{
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 400;
    max-width: 800px;
}
.text a{
    display: inline-block;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text a:hover{
    letter-spacing: 3px;
    background: rgba(255, 255, 255, 0.623);
}
.social{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10px;
}
.social li{
    list-style: none;
}
.social li a{
display: inline-block;
filter: invert(1);
margin: 20px;
transform: scale(1);
transition: 0.5s;
}
.social li a:hover{
    transform: scale(1.2) translateY(-10px);
}
.menu{
    position: absolute;
    top:0;
    right:0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    position: relative;
    list-style: none;

}
.menu ul li a{
    text-decoration: none;
    font-size: 30px;
    color:black;
    line-height: 2em;
}
.menu ul li a:hover{
    color:rgba(0, 0, 0, 0.411);
}
@media (max-width: 1000px) {
    .showcase, .showcase header{
        padding: 50px;
    }
    .text h2{
        font-size: 3em;
    }
    .text h3{
        font-size: 2.5em ;
    }
    .text p{
        font-size: 1em;
    }
}